<ion-view view-title="Account">

	<div class="header">
	  <h1> Account </h1>
	</div>


  <ion-content class="padding">
	<div ng-controller="AccountController as vm" layout layout-align="space-between center">

		<div id="account" layout="column">
			<div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">NOMBRE</p>
			  </div>
			  <div flex>
			  	<p>{{ vm.account.firstName}} {{ vm.account.lastName || "Change your name." }}</p>
			  </div>
			  <div flex="15">
			  	<a href="vm.changeName()">Editar</a>
			  </div>
			 </div>

			<div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">CORREO</p>
			  </div>
			  <div flex>
			  	<p>{{vm.account.email || "Change your email address."}}</p>
			  </div>
			  <div flex="15">
			  	<a href="vm.changeEmail()">Editar</a>
			  </div>
			</div>

			<div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">CLAVE</p>
			  </div>
			  <div flex>
			  	<p>Last updated on {{vm.account.passwordDate || "Change your password."}}.</p>
			  </div>
			  <div flex="15">
			  	<a ui-sref="ResetPassword({id: glob.status._id})">Editar</a>
			  </div>
			 </div>

			<div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">IDIOMA</p>
			  </div>
			  <div flex>
			  	<p>Selecciona un Idioma para usar esta aplicación.</p>
			  </div>
			  <div flex="15">
			  	<a ng-click="vm.changeLanguage()">Editar</a>
			  </div>
			 </div>

			 <div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">PERFÍL</p>
			  </div>
			  <div flex>
			  	<p>Actualiza tu perfíl público.</p>
			  </div>
			  <div flex="15">
			  	<a ui-sref="Profile">Editar</a> <!-- by id -->
			  </div>
			</div>

			<div layout="row">
			  <div flex="25">
			  	<p class="accountTitle">CERRAR CUENTA</p>
			  </div>
			  <div flex>
			  	<p>Cerrar cuenta permanente o temporeramente.</p>
			  </div>
			  <div flex="15">
			  	<a ng-click="vm.showConfirmDelete()">Editar</a> <!-- modal to select "Are you sure you want to permanently delete your account?" -->
	<!-- 		  	<a ng-click="vm.showConfirmDelete(vm.ev)">Edit</a> modal to select "Are you sure you want to permanently delete your account?" -->
			  </div>
			 </div>

			<div layout="column" ng-if="vm.confirmDelete">
				    <p>Seguro deseas Cerrar tu cuenta?</p>
				    <button ng-click="vm.deleteAccount()" class="button">Sí, deseo cerrar mi cuenta.</button><br/>
				    <button ng-click="vm.confirmDelete=false" class="button">Olvídalo.<br/><span style="font-size:10px;"> Me apresuré a tomar una mala decisión..</span></button>
	  		</div>

	<!-- 		<div layout="row" ng-if="vm.status">
				    <br>
				    <b layout="row" layout-align="center center" class="md-padding">
				      {{vm.status || "Status"}}
				    </b>
	  		</div> -->

		</div> <!-- end layout row-->

	</div> <!-- end layout row-->


  </ion-content>
</ion-view>
