<ion-view view-title="Contacts">

  <div class="header">
    <h1> Contactos </h1>
  </div>


  <ion-content class="padding">

  <div ng-controller="ContactsController as vm" id="contacts" class="container">
<br/>
      <center>
      <div flex><h3> Añade Contactos por sus Habilidades!</h4></div>
      </center>

      <form ng-submit="vm.addContact(vm.newContact);">
      <md-input-container>
        <input type="text" placeholder="Nombre" ng-model="vm.newContact.firstName" />
       </md-input-container>

        <md-input-container>
        <input type="text" placeholder="Apellido" ng-model="vm.newContact.lastName" />
         </md-input-container>

          <md-input-container>
        <input type="email" placeholder="Correo" ng-model="vm.newContact.email" />
         </md-input-container>
        <div>
        <center>
          <label class="inline" style="color:white;">Información Adicional
              <input type="checkbox" class="inline" ng-model="extras">
          </label>
          </center>
        </div>

        <div class="colum" ng-show="extras">
         <md-input-container>
            <input type="text" placeholder="Título" ng-model="vm.newContact.title" />
           </md-input-container>

           <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="Foto de Perfíl" ng-model="vm.newContact.profilePic" />
            </md-input-container>

             <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="Celular" ng-model="vm.newContact.phone" />
             </md-input-container>

            <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="Skype" ng-model="vm.newContact.skype" />
             </md-input-container>


           <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="LinkedIn" ng-model="vm.newContact.linkedIn" />
             </md-input-container>

              <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="Facebook" ng-model="vm.newContact.facebook" />
             </md-input-container>

              <md-input-container>
            <input type="text" ng-disabled="!extras" placeholder="Google+" ng-model="vm.newContact.google" />
             </md-input-container>

              <md-input-container>
                   <textarea ng-disabled="!extras" ng-model="vm.newContact.bio" placeholder="Bio"></textarea>
                 </md-input-container>
        </div>

        <br>
        <center>
        <button type="submit" class="button">Guardar</button>
        <button type="button" class="button" ui-sref="Contacts" ng-click="vm.newContact = {};">Cancelar</button>
        </center>
      </form>
      <!-- end Add Contacts -->

      </div>
      <br>
<!--       <button type="button" class="btn btn-danger" id="modalButtons" style="margin-left: 4vw;"ng-click="vm.modalOn = false">Close</button>
      <img src="http://justinsarnik.com/img/global/close.png" class="close" ng-click="vm.modalOn = false" alt="Close Icon" /> -->
  </div>
</div>

<!--

      <hr>
      <br>
      <h1>View Contacts</h1>
              <div id="addToCircleBar">
                <div id="circleBarContent">
                  <div class="content">
                    <input type="text" placeholder="Search" class="small" ng-model="searchCircles" style="margin: 3vh auto; padding: 2em; font-size: 1.1em;">
                    <hr style="width: 80%;">
                    <div class="row text-left circlesContact" ng-repeat="contact in vm.contacts | filter:searchCircles" ng-click="$parent.menuOpen = false; addRow(contact);" style="padding-left: 2vw;">
                      <div class="circle greyscale inline" ng-class="{greyscale: hover}"  ng-style="{'background-image': 'url(' + contact.profilePic + ')'}" style="background-size: contain; background-repeat: no-repeat; height: 5vw; width: 5vw; margin-left: 2vw;"></div>
                      <p class="inline" style="vertical-align: 5vh; margin-left: 1vw; font-size: 1.2em;">{{ contact.firstName }}  {{ contact.lastName }}</p>
                    </div>
                  </div>
              </div>

    </div>
   </ion-content>
</ion-view>
