<ion-view view-title="Dashboard">


  <div class="header" layout>
    <div>
        <h1> Dash </h1>
    </div>
    <div class="profacct">
    <a ui-sref="tab.Profile"><img ng-src="{{ '/assets/ana.png' || glob.user.profilePic || '/assets/circle-yelloworange.png' }}" class="profileSm" alt="profile pic" /></a>
    <a class=" button-icon icon ion-android-more-vertical"  ui-sref="tab.Account"></a>
    </div>
  </div>

  <ion-content class="padding z">


      <div ng-controller="NotifyController as vm" id="dashboard" class="container">
          <div>
                          <h2>{{glob.status.firstName}} {{glob.status.lastName}}</h2>
                          <hr>
          </div>
          <div layout>
            <div flex="25">
                <img ng-src="{{ '/assets/ana.png' || glob.user.profilePic || '/assets/circle-yelloworange.png' }}" class="profilePic" alt="profile pic" />
            </div>

            <div flex layout-align="space-between center">
                <div class="skill">Design</div>
                <div class="skill">Resume</div>
                <div class="skill">Dance</div>
                <div class="skill">Illsutrator</div>
                <div class="skill">Low Key</div>
                <div class="skill">Babysitter</div>
                <div class="skill" style="background-color:orange !important" ui-sref="Profile">Full Profile</div>
                <!-- <div class="skill" ng-repeat="value in glob.status">{{ value }}</div> -->
                <br/>
            </div>
          </div>
          <!-- VIEW FULL PROFILE -->

            <h3>Recent Circles </h3>
            <hr>

            <div ng-controller="CirclesController as vm" id="circles" class="container" >
            
<!--             <div layout="row" ng-repeat="circle in vm.circles" flex="33">
                  <div layout="column">
                      <div class="circle dashCircle"></div>
                      <div class="center">{{ circle.chartTitle }}</div>
                  </div>
              </div> -->
           <div layout="row" layout-align="top center" class="padAllCircles">    
                <div flex="33" ><div class="circle dashCircle"></div><div class="center"><p>Women of Color (Tech)</p> </div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center"><p>Low Key Friends</p></div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center"><p>People w/ $$$</p></div></div>
            </div>
             <div layout="row" layout-align="top center" class="padAllCircles">    
                <div flex="33" ><div class="circle dashCircle"></div><div class="center"><p>Bakers YUM!</p></div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center"><p>Colombian Fam</p></div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center"><p>Dogsitters</p></div></div>
            </div>
             <div layout="row" layout-align="top center" class="padAllCircles">    
                <div flex="33" ><div class="circle dashCircle"></div><div class="center"><p>Textile Designers</p></div></div>

            </div>

             



              </div>
            </div>

            <!-- <div ng-controller="CirclesController as vm" ng-repeat="circle in vm.circles">
            <div layout="row" layout-align="center center" class="padAllCircles">    
                <div flex="33" ><div class="circle dashCircle"></div><div class="center">{{circle.chartTitle}} </div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} </div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} </div></div>
            </div>
            <div layout="row" layout-align="center center">
                <div flex="33" ><div class="circle dashCircle"></div><div class="center">{{circle}} gfdgdf</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} fdgfdg</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} dfgfdg</div></div>
            </div>
            <div layout="row" layout-align="center center">
                <div flex="33" ><div class="circle dashCircle"></div><div class="center">{{circle}} gfdgdf</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} fdgfdg</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} dfgfdg</div></div>
            </div>
            <div layout="row" layout-align="center center">
                <div flex="33" ><div class="circle dashCircle"></div><div class="center">{{circle}} gfdgdf</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} fdgfdg</div></div>
                <div flex="33"><div class="circle dashCircle"></div><div class="center">{{circle}} dfgfdg</div></div>
            </div>
            </div> -->

      


  </ion-content>
</ion-view>
