<ion-view view-title="Circle">

<div layout style="width:100%">
  <div flex="auto" class><h1> Circle </h1></div>
  <div flex="grow"><h1><a ui-sref="tabEs.ProfileEs"><i class="icon ion-android-happy"></i></a> <a ui-sref="tabEs.AccountEs"><i class="icon ion-android-more-vertical"></i></a></h1></div>
</div>

  <ion-content class="padding">


    <div ng-controller="CirclesController as vm" id="circles" class="container" >
  	<h1>View Circles</h1>

  	<div class="text-left">
      <button ui-sref='tab.CreateCircle' class="button">Create Circle</button>
  	</div>
  	<hr>

  	<div class="circle shade" ng-repeat="circle in vm.circles" style="margin: 1em; height: 15em; width: 15em; padding-top: 5em;" ng-click="vm.editCircle(circle);">
  		<br>
  		<h3>
  			{{ circle.chartTitle }}
  		</h3>
  	</div>
  </div>


  </ion-content>
</ion-view>
