<ion-view view-title="Circle">

<div layout style="width:100%">
  <div flex="auto" class><h1> Circle </h1></div>
  <div flex="grow"><h1><a ui-sref="tabEs.ProfileEs"><i class="icon ion-android-happy"></i></a> <a ui-sref="tabEs.AccountEs"><i class="icon ion-android-more-vertical"></i></a></h1></div>
</div>

  <ion-content class="padding">


  <div ng-controller="CirclesController as vm" id="circles" class="container" ng-init="creatingCircle = false; menuOpen = false">
	<h1>Create a Circle</h1>


	<!-- Buttons -->
	<div class="circleOptions" ng-show="creatingCircle === false">
		<button ng-click="creatingCircle = true;" class="button">New Circle </button>
		<button ng-click="vm.deleteCircle(); creatingCircle = false;" class="button">Delete Circle </button>
	</div>

	<div class="circleOptions" ng-show="creatingCircle === true">
		<input type="text" ng-model="vm.newCircle.name" placeholder="Circle Name">
		<input type="text" min="1" max="20" value="1" placeholder="Number Of Members" ng-model="vm.newCircle.slices">
		<button ng-click="vm.makeCircle(); creatingCircle = false;" class="button">MakeChart </button>
		<button ng-click="vm.newCircle= {}; creatingCircle = false;" class="button">Cancel </button>
	</div>
  <hr>

  <br>

	<!-- Canvas -->
  <canvas id="Canvas" ondrop="drop(event)" ondragover="allowDrop(event)" class='img-responsive' width="700" height="600" style="margin: 1em auto;"></canvas>

	<!-- Sidebar -->
	<div id="addToCircleBar">
		<div id="circleBarContent" ng-class="{menuOpen: menuOpen}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
			<input type="text" placeholder="Search" class="small" ng-model="searchCircles" style="margin: 3vh auto; padding: 2em; font-size: 1.1em;">
			<hr style="width: 80%;">
			<div class="row text-left circlesContact" draggable="true" ondragstart="drag(event)" ng-repeat="contact in vm.contacts | filter:searchCircles" ng-mouseenter="hover = false" ng-mouseleave="hover = true" style="padding-left: 2vw;">
				<div class="circle greyscale inline" ng-class="{greyscale: hover}"  ng-style="{'background-image': 'url(' + contact.profilePic + ')'}" style="background-size: contain; background-repeat: no-repeat;"></div>
				<p class="inline" style="vertical-align: 5vh; margin-left: 1vw; font-size: 1.2em;">{{ contact.firstName }}  {{ contact.lastName }}</p>
			</div>
			<br>
			<button type="button" class="button" ng-click="menuOpen = false">Close</button>
		</div>
		<div id="circleBarMenuText" ng-show="menuOpen === false" ng-click="menuOpen = true;  ">
			<h3>C</h3>
			<h3>O</h3>
			<h3>N</h3>
			<h3>T</h3>
			<h3>A</h3>
			<h3>C</h3>
			<h3>T</h3>
			<h3>S</h3>
		</div>
	</div>

<button id="c-button--slide-bottom" class="button">Slide Botton</button>

  </ion-content>
</ion-view>
