<!--  FORGOT PASSWORD- RESET PASSWORD with EMAIL -->
<!-- <div ng-show="vm.forgotPassword" style="margin-top:150px"> -->
<br/>
<center>
<h3 style="color: white;"> Forgot your password?</h3> 
<center><p>Type your Email here to send you a link. </p></center>

            <md-input-container>
              <input placeholder="Email" class="form-control" placeholder="Confirm Password..." required ng-model="glob.user.email" />
            </md-input-container>

            <div class='col-md-4'>
              <button class='button' type="submit" ng-click="glob.sentPassword=true; glob.forgot()">Send</button>
            </div>


        <div class="text-success" ng-show="glob.sentPassword">
          <h3>Please, check your email.</h3.
        </div
        </center>
