<!--  FORGOT PASSWORDES- RESET PASSWORD with EMAIL -->
<!-- <div ng-show="vm.forgotPassword" style="margin-top:150px"> -->

<!--  FORGOT PASSWORD- RESET PASSWORD with EMAIL -->
<!-- <div ng-show="vm.forgotPassword" style="margin-top:150px"> -->
<br/>
<center>
<h3 style="color: white;"> Olvidaste tu Contraseña?</h3>
<center><p>Escribe tu correo electrónico </p></center>
<br/>
<br/>


            <md-input-container>
              <input placeholder="Email" class="form-control" placeholder="Confirm Password..." required ng-model="glob.user.email" />
            </md-input-container>

            <div class='col-md-4'>
              <button class='button' type="submit" ng-click="glob.sentPassword=true; glob.forgot()">Enviar</button>
            </div>


        <div class="text-success" ng-show="glob.sentPassword">
          <h3>Por favor, revise su Correo.</h3.
        </div>
        </center>
