<div class="center"> <!-- inside the global controller on Index -->
	<div class="top">
		<img src="/assets/circle-yelloworange.png"><br/>
		<h1>GETFUL</h1>
	</div>
	<div class="bottom">
		<button ui-sref="HomeEs" class="button">Español</button>
		<button ui-sref="Home" class="button">English</button><br/><br/>
		<a ng-click="glob.logout();">Logout</a> <!-- get rid of this -->
		<br/>
		<a ui-sref="tab.Profile({id: glob.status._id})">Profile</a> <!-- get rid of this -->
		<a ui-sref="tabEs.ProfileEs({id: glob.status._id})">Perfil</a> <!-- get rid of this -->
		<a ui-sref="NewProfile">NEW PROFILE</a> <!-- get rid of this -->
		<a ui-sref="NewProfileEs">PERFIL NUEVO</a> <!-- get rid of this -->
		<a ui-sref="tab.Account">Account</a> <!-- get rid of this -->
		<a ui-sref="tabEs.AccountEs">Cuenta</a> <!-- get rid of this -->


 	</div>
</div>
