 <!-- inside the Global Controller on index-->
 <h1>Sign Up</h1>
	<br/>
	<form class="list" ng-submit="glob.signUp()">

			<md-input-container>
				<label> </label>
				<input ng-model="glob.user.firstName" placeholder="First Name*" type="text" ng-required="true"/>
	   </md-input-container>

			<md-input-container>
			<label> </label>
				<input ng-model="glob.user.lastName" placeholder="Last Name*" type="text" ng-required="true"/>
			</md-input-container>

	      <md-input-container>
				<label> </label>
				<input ng-model="glob.user.email" placeholder="Email Address* You will sign in to your account with your email address." type="email" ng-required="true"/>
			</md-input-container>

			<md-input-container>
				<label> </label>
				<input ng-model="glob.user.password" placeholder="Password*" type="password" ng-required="true"/>
			</md-input-container>

			<md-input-container>
				<label></label>
				<input ng-model="glob.user.confirmPassword" placeholder="Confirm Password*" type="password" ng-required="true"/>
			</md-input-container>



		<div ng-show="!(glob.user.password === glob.user.confirmPassword)">Your passwords must match.</div>
<center>
		<button type="submit" class="button" ng-disabled="!glob.user.firstName || !glob.user.lastName || !glob.user.email || !glob.user.password || !(glob.user.password === glob.user.confirmPassword)">Sign Up</button>
</center>
	</form>
