<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs> <!-- will generate tab bar and include the content within // took out  tabs-color-active-positive class="tabs-icon-top tabs-positive"-->

  <!-- Dashboard Tab --> <!-- ion-tab specifies the content of the tab -->
  <ion-tab title="Dashboard " icon-off="ion-ios-keypad" icon-on="ion-ios-keypad" ui-sref="tabEs.DashEs">
    <ion-nav-view name="dashEs"></ion-nav-view>
  </ion-tab>

    <!-- Circles Tab -->
  <ion-tab title="Circles" icon-off="ion-record" icon-on="ion-record" ui-sref="tabEs.DisplayCircleEs">
    <ion-nav-view name="displaycircleEs"></ion-nav-view>
  </ion-tab>

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-off="ion-ios-people" icon-on="ion-ios-people" ui-sref="tabEs.ContactsEs">
    <ion-nav-view name="contactsEs"></ion-nav-view>
  </ion-tab>

  <!-- Requests Tab -->
  <ion-tab title="Requests" icon-off="ion-ios-pie" icon-on="ion-ios-pie" ui-sref="tabEs.RequestsEs">
    <ion-nav-view name="requestsEs"></ion-nav-view>
  </ion-tab>


</ion-tabs>
