<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="lib/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
  </head>
  <body ng-app="app" ng-controller="GlobalController as glob">


    <ion-nav-view></ion-nav-view>


<button class="button button-primary button-block " ng-click="checkForUpdates()">
  Check for updates
</button>
<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
  download update
</button>

    <!-- External Libraries -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/angular-material/angular-material.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/10.0.2/ng-file-upload.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <!-- Global Src -->
    <script src="js/app.js"></script>
<!--    <script src="js/menu.js"></script> -->

    <!-- Factories -->
    <script src="js/services.js"></script>
    <script src="js/services/GlobalFactory.js"></script>
    <script src="js/services/HomeFactory.js"></script>
    <script src="js/services/CirclesFactory.js"></script>
    <script src="js/services/AuthInterceptor.js"></script>


    <!-- Controllers -->

    <script src="js/controllers.js"></script>
    <script src="js/controllers/GlobalController.js"></script>
    <script src="js/controllers/ProfileController.js"></script>
    <script src="js/controllers/NotifyController.js"></script>
    <script src="js/controllers/TokenController.js"></script>
    <script src="js/controllers/AccountController.js"></script>
    <script src="js/controllers/RequestsController.js"></script>
    <script src="js/controllers/CirclesController.js"></script>
    <script src="js/controllers/ContactsController.js"></script>

    <!-- Directive -->
    <script src="https://www.google.com/jsapi?ext.js"></script> <!--    WORK WITH PIE CHART -->
    <script src="js/directives/chart.js"></script>


  </body>
</html>
